.swiper {
  width: 100%;
  height: 750px;
}

.mySwiper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#slider {
  background: #000;
  margin: 184px 0 124px;
  padding: 100px 0;
  background-image: url("../../image/slider-bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 25%;
}
.slider {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}

.slider_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider_buttons button {
  border: none;
  outline: none;
  background: inherit;
  cursor: pointer;
}

.slider_prev {
  position: absolute;
  left: -50px;
  top: 50%;
  z-index: 1;
}

.slider_next {
  position: absolute;
  right: -50px;
  top: 50%;
  z-index: 1;
}

.slider_img {
  display: flex;
  justify-content: center;
  align-items: end;
}

.slider_text h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
}

.slider_h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  line-height: 180%;
  opacity: 0.5;
  margin: 14px 0 50px 0;
}

.slider_text {
  max-width: 523px;
  max-height: 539px;
  margin: 0 0 50px 0;
}

.slider_title {
  width: 75%;
  background: #fff;
  padding: 14px 46px 20px 46px;
  margin-bottom: -30px;
}

.slider_title h3 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 180%;
}

.slider_title p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  opacity: 0.7;
}
@media only screen and (max-width: 1140px) {
  .slider_prev {
    left: 0px;
  }

  .slider_next {
    right: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .slider {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
  }

  .slider_prev {
    left: -50px;
  }

  .slider_next {
    right: -50px;
  }
}

@media only screen and (max-width: 600px) {
  .slider {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
  }

  .slider_prev {
    left: 5px;
  }

  .slider_next {
    right: 5px;
  }

  .slider_title {
    width: 75%;
    padding: 14px 26px 20px 26px;
    margin-bottom: -30px;
  }

  .slider_text h2 {
    font-size: 30px;
  }
}
