#blog {
  background-image: url("../../image/Group4.png");
  background-repeat: no-repeat;
  background-position-x: right;
}

.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 75px 0 175px;
}

.blog_card h2 {
  color: #000;
  font-size: 28px;
  font-weight: 800;
  line-height: 180%;
  text-transform: uppercase;
}

.blog_card {
  max-width: 400px;
  height: 319px;
  border-radius: 12px;
  border: 1px solid rgba(86, 153, 232, 0.22);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.blog_card a {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
  border-radius: 37px;
  background: #2a55f6;
  padding-right: 100px;
  text-decoration: none;
  margin: 0 50px;
}

.blog_card a img {
  margin: 3px 4px;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 50%;
}

.blog_card a span {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

@media only screen and (max-width: 1240px) {
  .blog {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 75px 0 175px;
  }

  .blog_card {
    max-width: 320px;
    height: 319px;
  }
  .blog_card a {
    gap: 30px;
    margin: 0 40px;
    padding-right: 60px;
  }
}

@media only screen and (max-width: 900px) {
  .blog {
    display: grid;
    grid-template-columns: 6fr 6fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 75px 0 175px;
  }

  .blog_card {
    max-width: 350px;
    height: 319px;
  }
  .blog_card a {
    gap: 50px;
    margin: 0 40px;
    padding-right: 100px;
  }
}

@media only screen and (max-width: 500px) {
  .blog {
    display: grid;
    grid-template-columns: 12fr;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 75px 0 175px;
  }

  .blog_card {
    max-width: 400px;
    height: 319px;
  }
  .blog_card a {
    gap: 50px;
    margin: 0 40px;
    padding-right: 100px;
  }
}
