.hero {
  text-align: center;
  margin: 200px 0 0;
}

.hero h1 {
  color: #fff;
  text-align: center;
  font-size: 80px;
  font-weight: 700;
}

.hero p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 185%;
  margin: 24px 450px 74px;
}

.hero button {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 185%;
  letter-spacing: 1px;
  border-radius: 74px;
  background: #5699e8;
  padding: 15px 60px;
  border: none;
}

.hero button:hover {
  background-color: #fff;
  color: black;
  transition: 0.6s ease;
  box-shadow: 2px 2px 20px 0px #000;
  cursor: pointer;
}

@media only screen and (max-width: 1440px) {
  .hero {
    margin: 170px 0 0;
  }

  .hero h1 {
    font-size: 70px;
  }
  .hero p {
    margin: 24px 320px 74px;
  }
}

@media only screen and (max-width: 1140px) {
  .hero {
    margin: 170px 0 0;
  }

  .hero h1 {
    font-size: 60px;
  }
  .hero p {
    margin: 24px 180px 54px;
  }
}

@media only screen and (max-width: 800px) {
  .hero {
    margin: 170px 0 0;
  }

  .hero h1 {
    font-size: 50px;
  }
  .hero p {
    margin: 24px 0px 54px;
    font-size: 18px;
  }
  .hero button {
    font-size: 18px;
    padding: 15px 60px;
  }
}

@media only screen and (max-width: 550px) {
  .hero {
    margin: 170px 0 0;
  }

  .hero h1 {
    font-size: 40px;
  }
  .hero p {
    margin: 24px 0px 44px;
    font-size: 16px;
  }
  .hero button {
    font-size: 16px;
    padding: 15px 60px;
  }
}

.whatsapp-button {
  position: fixed;
  right: 40px;
  bottom: 40px;
  transform: translate(-50%, -50%);
  background: #355db7;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatsapp-button a {
  color: #fff;
}
.whatsapp-button:before,
.whatsapp-button:after {
  content: " ";
  display: block;
  position: absolute;
  border: 50%;
  border: 2px solid #355db7;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: animate 1.5s linear infinite;
  opacity: 0;
  backface-visibility: hidden;
}

.whatsapp-button:after {
  animation-delay: 0.5s;
}

@keyframes animate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@media (max-width: 1044px) {
  .whatsapp-button {
    bottom: 50px;
    right: 50px;
  }
}

@media (max-width: 800px) {
  .whatsapp-button {
    bottom: 10px;
    right: 10px;
  }
}

@media (max-width: 800px) {
  .whatsapp-button {
    bottom: 10px;
    right: 2px;
  }
}
