* {
  font-family: Gilroy;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1570px;
  margin: 0 auto;
  padding: 0 15px;
}

.text {
  color: #5699e8;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 185%;
  margin: 50px 0 15px;
}

.title {
  color: #000;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}
