.whatsapp-button {
  position: fixed;
  right: 40px;
  bottom: 40px;
  transform: translate(-50%, -50%);
  background: #355db7;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatsapp-button a {
  color: #fff;
}
.whatsapp-button:before,
.whatsapp-button:after {
  content: " ";
  display: block;
  position: absolute;
  border: 50%;
  border: 2px solid #355db7;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: animate 1.5s linear infinite;
  opacity: 0;
  backface-visibility: hidden;
}

.whatsapp-button:after {
  animation-delay: 0.5s;
}

@keyframes animate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@media (max-width: 800px) {
  .whatsapp-button {
    bottom: 10px;
    right: 10px;
  }
}

@media (max-width: 800px) {
  .whatsapp-button {
    bottom: 2px;
    right: 2px;
  }
}
